mixin steps-list(additionalClass)
  .steps-list(class=additionalClass)
    .steps-list__item
      .steps-list__item-icon.steps-list__item-icon--task
      h3.steps-list__item-header 1. Создайте задание
      p.steps-list__item-text Опишите своими словами задачу, которую требуется выполнить
    .steps-list__item
      .steps-list__item-icon.steps-list__item-icon--offer
      h3.steps-list__item-header 2. Исполнители предложат вам свои услуги и цены
      p.steps-list__item-text Уже через пару минут вы начнете получать предложения от исполнителей, готовых выполнить ваше задание
    .steps-list__item
      .steps-list__item-icon.steps-list__item-icon--choice
      h3.steps-list__item-header 3. Выберите лучшее предложение
      p.steps-list__item-text Вы сможете выбрать подходящего исполнителя