mixin slider(additionalClass)
  .slider(class=additionalClass)
    .slider__line
      a.slider__button(href="#")
      ul.slider__items-list
        li.slider__item
          .slider__item-dot
          .slider__item-content.text-common 450 руб.
        li.slider__item
          .slider__item-dot
          .slider__item-content.text-common 600 руб.
        li.slider__item
          .slider__item-dot
          .slider__item-content.text-common 750 руб.
        li.slider__item
          .slider__item-dot
          .slider__item-content.text-common 1000 руб.
        li.slider__item
          .slider__item-dot
          .slider__item-content.text-common 1500 руб.
        li.slider__item
          .slider__item-dot
          .slider__item-content.text-common Более 2000 руб.