mixin sitemap(additionalClass)
  .sitemap(class=additionalClass)
    a.sitemap__link(href="#") Отзывы заказчиков
    a.sitemap__link(href="#") Правила сервиса
    a.sitemap__link(href="#") Контактные данные
    a.sitemap__link(href="#") О проекте
    a.sitemap__link(href="#") Безопасность и гарантии
    a.sitemap__link(href="#") Как стать исполнителем
    a.sitemap__link(href="#") Награды