mixin categories-front(additionalClass)
  .categories-front(class=additionalClass)
    .categories-front__content
      .categories-front__item
        .categories-front__item-icon.categories-front__item-icon--courier
        h3.categories-front__item-title Курьерские услуги
        .categories-front__links-container
          a.categories-front__link(href="#") Услуги пешего курьера
          a.categories-front__link(href="#") Услуги курьера на авто
          a.categories-front__link(href="#") Купить и доставить
      .categories-front__item
        .categories-front__item-icon.categories-front__item-icon--cleaning
        h3.categories-front__item-title Уборка
        .categories-front__links-container
          a.categories-front__link(href="#") Поддерживающая уборка
          a.categories-front__link(href="#") Генеральная уборка
          a.categories-front__link(href="#") Мытье окон
      .categories-front__item
        .categories-front__item-icon.categories-front__item-icon--repairs
        h3.categories-front__item-title Уборка
        .categories-front__links-container
          a.categories-front__link(href="#") Мастер на час
          a.categories-front__link(href="#") Ремонт под ключ
          a.categories-front__link(href="#") Сантехнические работы
    a.categories-front__more(href="#") Посмотреть все категории →