mixin short-info(additionalClass)
  .short-info(class=additionalClass)
    .short-info__item 27 лет
    .short-info__item.short-info__item--city Москва
    .short-info__item.short-info__item--experience Опыт работы 5 лет