mixin short-info(additionalClass)
  .short-info(class=additionalClass)
    .short-info__item.text-common 27 лет
    .short-info__item.short-info__item--city.text-common Москва
    .short-info__item.short-info__item--experience.text-common Опыт работы 5 лет