mixin stars(star1, star2, star3, star4, star5, additionalClass)
  ul.stars(class=additionalClass)
    li.stars__item(class="stars__item--" + star1)
    li.stars__item(class="stars__item--" + star2)
    li.stars__item(class="stars__item--" + star3)
    li.stars__item(class="stars__item--" + star4)
    li.stars__item(class="stars__item--" + star5)