include ../blocks/logo/logo.pug
include ../blocks/add-task/add-task.pug
include ../blocks/menu/menu.pug
include ../blocks/user/user.pug
include ../blocks/front/front.pug
include ../blocks/header-common/header-common.pug
include ../blocks/button/button.pug
include ../blocks/categories-front/categories-front.pug
include ../blocks/scroll-arrow/scroll-arrow.pug
include ../blocks/steps/steps.pug
include ../blocks/scroll-progress/scroll-progress.pug
include ../blocks/advantages/advantages.pug
include ../blocks/live/live.pug
include ../blocks/balloon/balloon.pug
include ../blocks/categories/categories.pug
include ../blocks/category-item/category-item.pug
include ../blocks/footer/footer.pug
include ../blocks/sitemap/sitemap.pug
include ../blocks/socials/socials.pug
include ../blocks/header/header.pug
include ../blocks/wrapper/wrapper.pug
include ../blocks/main/main.pug
include ../blocks/steps-list/steps-list.pug
include ../blocks/section/section.pug
include ../blocks/advantages-list/advantages-list.pug
include ../blocks/categories-list/categories-list.pug
include ../blocks/more/more.pug
include ../blocks/verification/verification.pug
include ../blocks/checkbox-item/checkbox-item.pug
include ../blocks/checkbox/checkbox.pug
include ../blocks/form-progress/form-progress.pug
include ../blocks/form/form.pug
include ../blocks/select/select.pug
include ../blocks/input/input.pug
include ../blocks/task/task.pug
include ../blocks/link-back/link-back.pug
include ../blocks/text-common/text-common.pug
include ../blocks/portfolio-category/portfolio-category.pug
include ../blocks/feedback/feedback.pug
include ../blocks/feedback-item/feedback-item.pug
include ../blocks/rating/rating.pug
include ../blocks/rating-item/rating-item.pug
include ../blocks/stars/stars.pug
include ../blocks/contacts/contacts.pug
include ../blocks/favorite/favorite.pug
include ../blocks/event-time/event-time.pug
include ../blocks/short-info/short-info.pug
include ../blocks/profile/profile.pug
include ../blocks/content-header/content-header.pug
include ../blocks/form-popup/form-popup.pug
include ../blocks/modal-link/modal-link.pug
include ../blocks/slider/slider.pug
