include ../blocks/logo/logo.pug
include ../blocks/add-task/add-task.pug
include ../blocks/menu/menu.pug
include ../blocks/user/user.pug
include ../blocks/front/front.pug
include ../blocks/header-common/header-common.pug
include ../blocks/button/button.pug
include ../blocks/categories-front/categories-front.pug
include ../blocks/scroll-arrow/scroll-arrow.pug
include ../blocks/steps/steps.pug
include ../blocks/scroll-progress/scroll-progress.pug
include ../blocks/advantages/advantages.pug
include ../blocks/live/live.pug
include ../blocks/balloon/balloon.pug
include ../blocks/categories/categories.pug
include ../blocks/category-item/category-item.pug
include ../blocks/footer/footer.pug
include ../blocks/sitemap/sitemap.pug
include ../blocks/socials/socials.pug
include ../blocks/header/header.pug
include ../blocks/wrapper/wrapper.pug
include ../blocks/main/main.pug
include ../blocks/steps-list/steps-list.pug
include ../blocks/section/section.pug
include ../blocks/advantages-list/advantages-list.pug
include ../blocks/categories-list/categories-list.pug
include ../blocks/more/more.pug
