script(type="text/javascript", src="js/jquery.min.js")
script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCh0dYaMBnTlMuQmVtEC8fF3RPJFirkXV0')
script(type="text/javascript", src="js/plugins.js")
script(type="text/javascript", src="js/script.js")