mixin advantages-list(additionalClass)
  .advantages-list(class=additionalClass)
    .advantages-list__item
      .advantages-list__item-icon.advantages-list__item-icon--price
      .advantages-list__item-content
        h3.advantages-list__item-header Выгодные цены
        p.advantages-list__item-text У частных исполнителей нет расходов на офис, рекламу, зарплату секретарю и других затрат, которые сервисные компании обычно включают в стоимость своих услуг
    .advantages-list__item
      .advantages-list__item-icon.advantages-list__item-icon--executors
      .advantages-list__item-content
        h3.advantages-list__item-header Проверенные исполнители
        p.advantages-list__item-text Все исполнители проходят процедуру верификации, мы проверяем отзывы, разбираемся с жалобами и контролируем качество их работы
    .advantages-list__item
      .advantages-list__item-icon.advantages-list__item-icon--time
      .advantages-list__item-content
        h3.advantages-list__item-header Экономия времени
        p.advantages-list__item-text У нас вы можете найти подходящего исполнителя за несколько минут. Многие из них готовы приступить к работе в тот же день, а иногда в тот же час