mixin categories(additionalClass)
  .categories.section(class=additionalClass)
    .wrapper
      .header-common
        h2.header-common__title Задания на любой случай жизни
      +categories-list('categories__categories-list')
    +scroll-arrow('Узнайте больше')