mixin categories(additionalClass)
  .categories(class=additionalClass)
    .header-common
      h2.header-common__title Задания на любой случай жизни
    +categories-list
    +scroll-arrow('Узнайте больше')