.header-common {
  
  &__title {
    color: #153f78;
    font-family: @font-primary;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    
    @media screen and (max-height: @screen-narrow) {
      font-size: 40px;
    }
  }
  
  &__comment {
    color: #717171;
    font-family: @font-primary;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
    
    @media screen and (max-height: @screen-narrow) {
      font-size: 20px;
    }
  }
  
  &--white {
    
    .header-common__title {
      color: #fff;
    }
    
    .header-common__comment {
      color: #fff;
    }
  }
}
