mixin socials(additionalClass)
  .socials(class=additionalClass)
    a.socials__item.socials__item--vk(href="#")
    a.socials__item.socials__item--twitter(href="#")
    a.socials__item.socials__item--fb(href="#")