@color-primary: #1566b0;

@link-color: #4099e9;

@color-error: #de1717;

@color-success: #65c672;

@color-gold: #ffbe10;

@font-primary: 'Roboto', 'Arial', sans-serif;


@screen-xs:                   479px;
@screen-sm:                   767px;
@screen-md:                   1023px;
@screen-lg:                   1199px;

@screen-narrow: 900px;