.more {
  background-color: #003e8f;
  align-items: center;
  position: relative;
  padding-bottom: 180px;
  
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
  }
  
  &:before {
    background: url(../img/city-left.png) no-repeat;
    background-size: cover;
    width: 612px;
    height: 717px;
    left: 0;
    bottom: 0;
    z-index: 2;
  }
  
  &:after {
    background: url(../img/city-right.png) no-repeat;
    background-size: cover;
    width: 533px;
    height: 676px;
    right: 0;
    top: -190px;
    z-index: 2;
  }
  
  &__question {
    height: 136px;
    padding-top: 25px;
    margin-top: 110px;
    background: url(../img/message-cloud.svg) no-repeat center;
    background-size: 145px 136px;
  }
  
  &__question-header {
    color: #fff;
    font-family: @font-primary;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
  }
  
  &__question-link {
    color: #fff;
    font-family: @font-primary;
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
    display: block;
    
    &:hover {
      text-decoration: none;
    }
  }
  
  &__task {
    width: 700px;
    height: 98px;
    font-size: 35px;
    border-radius: 48px;
    margin: 66px 0 72px;
  }
  
  &__executor {
    color: #fff;
    font-family: @font-primary;
    font-size: 30px;
    font-weight: 300;
    
    &:hover {
      text-decoration: none;
    }
  }
}