mixin balloon(picture, content, additionalClass, additionalClass2)
  .balloon(class=additionalClass, class=additionalClass2)
      img.balloon__photo(src="img/" + picture, width="74", height="74")
      .balloon__content #{content}