mixin categories-list(additionalClass)
  .categories-list(class=additionalClass)
    .categories-list__item-row
      .categories-list__item
        .categories-list__item-content
          .categories-list__item-icon.categories-list__item-icon--computer
          .categories-list__item-list
            a.categories-list__item-link(href="#") Восстановление данных
            a.categories-list__item-link(href="#") Удаление вирусов
            a.categories-list__item-link(href="#") Ремонт компьютеров
            a.categories-list__item-link(href="#") Замена комплектующих
            a.categories-list__item-link(href="#") Установка ОС Windows
            a.categories-list__item-link(href="#") Установка программ
            a.categories-list__item-link(href="#") Установка драйверов
            a.categories-list__item-link(href="#") Настройка компьютера
      .categories-list__item
        .categories-list__item-content
          .categories-list__item-icon.categories-list__item-icon--truck
          .categories-list__item-list
            a.categories-list__item-link(href="#") Найти машину
            a.categories-list__item-link(href="#") Грузоперевозки по городу
            a.categories-list__item-link(href="#") Международные перевозки
            a.categories-list__item-link(href="#") Грузоперевозки по России
            a.categories-list__item-link(href="#") Услуги по переезду
            a.categories-list__item-link(href="#") Эвакуация автомобилей
            a.categories-list__item-link(href="#") Помощь на дороге
            a.categories-list__item-link(href="#") Пассажирские перевозки
      .categories-list__item
        .categories-list__item-content
          .categories-list__item-icon.categories-list__item-icon--lawyers
          .categories-list__item-list
            a.categories-list__item-link(href="#") Адвокаты
            a.categories-list__item-link(href="#") Автоюристы
            a.categories-list__item-link(href="#") Составление документов
            a.categories-list__item-link(href="#") Сопровождение бизнеса
            a.categories-list__item-link(href="#") Взыскание задолженностей
            a.categories-list__item-link(href="#") Защита прав потребителей
            a.categories-list__item-link(href="#") Юридические консультации
            a.categories-list__item-link(href="#") Стоимость услуг
      .categories-list__item
        .categories-list__item-content
          .categories-list__item-icon.categories-list__item-icon--repairs
          .categories-list__item-list
            a.categories-list__item-link(href="#") Мелкий бытовой ремонт
            a.categories-list__item-link(href="#") Ремонт под ключ
            a.categories-list__item-link(href="#") Отделочные работы
            a.categories-list__item-link(href="#") Сантехнические услуги
            a.categories-list__item-link(href="#") Электрика
            a.categories-list__item-link(href="#") Сборка и ремонт мебели
            a.categories-list__item-link(href="#") Установка и ремонт дверей
            a.categories-list__item-link(href="#") Укладка плитки
    .categories-list__item-row
      .categories-list__item
        .categories-list__item-content
          .categories-list__item-icon.categories-list__item-icon--web
          .categories-list__item-list
            a.categories-list__item-link(href="#") Сайты под ключ
            a.categories-list__item-link(href="#") WEB-Дизайн
            a.categories-list__item-link(href="#") Программирование
            a.categories-list__item-link(href="#") Верстка
            a.categories-list__item-link(href="#") Поддержка сайтов
            a.categories-list__item-link(href="#") Разработка контента
            a.categories-list__item-link(href="#") Дизайн и полиграфия
      .categories-list__item
        .categories-list__item-content
          .categories-list__item-icon.categories-list__item-icon--design
          .categories-list__item-list
            a.categories-list__item-link(href="#") Логотипы, фирменный стиль
            a.categories-list__item-link(href="#") Листовки, буклеты, визитки
            a.categories-list__item-link(href="#") Иллюстрации, иконки, арт
            a.categories-list__item-link(href="#") Дизайн сайтов
            a.categories-list__item-link(href="#") Баннеры, оформление соц. сетей
            a.categories-list__item-link(href="#") 3d-графика, анимация
            a.categories-list__item-link(href="#") Инфографика, презентации
            a.categories-list__item-link(href="#") Наружная реклама, вывески
      .categories-list__item
        .categories-list__item-content
          .categories-list__item-icon.categories-list__item-icon--photo
          .categories-list__item-list
            a.categories-list__item-link(href="#") Услугм фотографов
            a.categories-list__item-link(href="#") Видеосъёмка
            a.categories-list__item-link(href="#") Обработка фото
            a.categories-list__item-link(href="#") Монтаж видео
            a.categories-list__item-link(href="#") Оцифровка
      .categories-list__item
        .categories-list__item-content
          .categories-list__item-icon.categories-list__item-icon--cleaning
          .categories-list__item-list
            a.categories-list__item-link(href="#") Няни и гувернантки
            a.categories-list__item-link(href="#") Сиделки
            a.categories-list__item-link(href="#") Горничные и домработницы
            a.categories-list__item-link(href="#") Помощники по дому
            a.categories-list__item-link(href="#") Уход за домашними животными
            a.categories-list__item-link(href="#") Клининговые услуги
            a.categories-list__item-link(href="#") Стирка и глажка