mixin categories-list(additionalClass)
  .categories-list(class=additionalClass)
    .categories-list__item-row
      .categories-list__item
        .categories-list__item-icon.categories-list__item-icon--computer
        .categories-list__item-list
          a.categories-list__item-link(href="#") Восстановление данных
          a.categories-list__item-link(href="#") Удаление вирусов
          a.categories-list__item-link(href="#") Ремонт компьютеров
          a.categories-list__item-link(href="#") Замена комплектующих
          a.categories-list__item-link(href="#") Установка ОС Windows
          a.categories-list__item-link(href="#") Установка программ
          a.categories-list__item-link(href="#") Установка драйверов
          a.categories-list__item-link(href="#") Настройка компьютера
      .categories-list__item
        .categories-list__item-icon.categories-list__item-icon--computer
        .categories-list__item-list
          a.categories-list__item-link(href="#") Найти машину
          a.categories-list__item-link(href="#") Грузоперевозки по городу
          a.categories-list__item-link(href="#") Международные перевозки
          a.categories-list__item-link(href="#") Грузоперевозки по России
          a.categories-list__item-link(href="#") Услуги по переезду
          a.categories-list__item-link(href="#") Эвакуация автомобилей
          a.categories-list__item-link(href="#") Помощь на дороге
          a.categories-list__item-link(href="#") Пассажирские перевозки
      .categories-list__item
        .categories-list__item-icon.categories-list__item-icon--computer
        .categories-list__item-list
          a.categories-list__item-link(href="#") Восстановление данных
          a.categories-list__item-link(href="#") Удаление вирусов
          a.categories-list__item-link(href="#") Ремонт компьютеров
          a.categories-list__item-link(href="#") Замена комплектующих
          a.categories-list__item-link(href="#") Установка ОС Windows
          a.categories-list__item-link(href="#") Установка программ
          a.categories-list__item-link(href="#") Установка драйверов
          a.categories-list__item-link(href="#") Настройка компьютера
      .categories-list__item
        .categories-list__item-icon.categories-list__item-icon--computer
        .categories-list__item-list
          a.categories-list__item-link(href="#") Восстановление данных
          a.categories-list__item-link(href="#") Удаление вирусов
          a.categories-list__item-link(href="#") Ремонт компьютеров
          a.categories-list__item-link(href="#") Замена комплектующих
          a.categories-list__item-link(href="#") Установка ОС Windows
          a.categories-list__item-link(href="#") Установка программ
          a.categories-list__item-link(href="#") Установка драйверов
          a.categories-list__item-link(href="#") Настройка компьютера
    .categories-list__item-row
      .categories-list__item
        .categories-list__item-icon.categories-list__item-icon--computer
        .categories-list__item-list
          a.categories-list__item-link(href="#") Восстановление данных
          a.categories-list__item-link(href="#") Удаление вирусов
          a.categories-list__item-link(href="#") Ремонт компьютеров
          a.categories-list__item-link(href="#") Замена комплектующих
          a.categories-list__item-link(href="#") Установка ОС Windows
          a.categories-list__item-link(href="#") Установка программ
          a.categories-list__item-link(href="#") Установка драйверов
          a.categories-list__item-link(href="#") Настройка компьютера
      .categories-list__item
        .categories-list__item-icon.categories-list__item-icon--computer
        .categories-list__item-list
          a.categories-list__item-link(href="#") Восстановление данных
          a.categories-list__item-link(href="#") Удаление вирусов
          a.categories-list__item-link(href="#") Ремонт компьютеров
          a.categories-list__item-link(href="#") Замена комплектующих
          a.categories-list__item-link(href="#") Установка ОС Windows
          a.categories-list__item-link(href="#") Установка программ
          a.categories-list__item-link(href="#") Установка драйверов
          a.categories-list__item-link(href="#") Настройка компьютера
      .categories-list__item
        .categories-list__item-icon.categories-list__item-icon--computer
        .categories-list__item-list
          a.categories-list__item-link(href="#") Восстановление данных
          a.categories-list__item-link(href="#") Удаление вирусов
          a.categories-list__item-link(href="#") Ремонт компьютеров
          a.categories-list__item-link(href="#") Замена комплектующих
          a.categories-list__item-link(href="#") Установка ОС Windows
          a.categories-list__item-link(href="#") Установка программ
          a.categories-list__item-link(href="#") Установка драйверов
          a.categories-list__item-link(href="#") Настройка компьютера
      .categories-list__item
        .categories-list__item-icon.categories-list__item-icon--computer
        .categories-list__item-list
          a.categories-list__item-link(href="#") Восстановление данных
          a.categories-list__item-link(href="#") Удаление вирусов
          a.categories-list__item-link(href="#") Ремонт компьютеров
          a.categories-list__item-link(href="#") Замена комплектующих
          a.categories-list__item-link(href="#") Установка ОС Windows
          a.categories-list__item-link(href="#") Установка программ
          a.categories-list__item-link(href="#") Установка драйверов
          a.categories-list__item-link(href="#") Настройка компьютера