.categories-list {
  
  
  &__item-row {
    display: flex;
    
    &:nth-child(n+2) {
      margin-top: 0px;
    }
  }
  
  &__item {
    width: 25%;
    padding: 18px 0 35px 40px;
    background-size: cover;
    position: relative;
    
    &:before {
      content: '';
      display: block;
      background: url(../img/category-bg-1.jpg) no-repeat;
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      .transition;
    }
    
    &:hover {
      
      &:before {
        opacity: .1;
      }
    }
  }
  
  &__item-content {
    position: relative;
    z-index: 2;
  }
  
  &__item-icon {
    
    &--computer {
      background: url(../img/category-computer-small.svg) no-repeat;
      background-size: cover;
      width: 16px;
      height: 15px;
    }
    
    &--truck {
      background: url(../img/category-truck-small.svg) no-repeat;
      background-size: cover;
      width: 17px;
      height: 14px;
    }
    
    &--lawyers {
      background: url(../img/category-lawyers-small.png) no-repeat;
      background-size: cover;
      width: 16px;
      height: 17px;
    }
    
    &--repairs {
      background: url(../img/category-repairs-small.svg) no-repeat;
      background-size: cover;
      width: 17px;
      height: 16px;
    }
    
    &--web {
      background: url(../img/category-web-small.svg) no-repeat;
      background-size: cover;
      width: 16px;
      height: 13px;
    }
    
    &--design {
      background: url(../img/category-design-small.svg) no-repeat;
      background-size: cover;
      width: 16px;
      height: 15px;
    }
    
    &--photo {
      background: url(../img/category-photo-small.svg) no-repeat;
      background-size: cover;
      width: 16px;
      height: 14px;
    }
    
    &--cleaning {
      background: url(../img/category-cleaning-small.png) no-repeat;
      background-size: cover;
      width: 13px;
      height: 16px;
    }
  }
  
  &__item-list {
    margin-top: 10px;
  }
  
  &__item-link {
    color: #222;
    font-family: @font-primary;
    font-size: 16px;
    line-height: 28px;
    text-decoration: underline;
    display: block;
    
    &:hover {
      text-decoration: none;
    }
  }
}