doctype html
html(lang='ru')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    .main
      +header('header--main')
      +front
      +steps
      +advantages
      +live
      +categories
      +more
    include ../templates/scripts.pug