doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .profile
      +link-back('← Назад к списку исполнителей')
      .profile__top
        .profile__top-left
          +event-time('Был на сайте 2 ч. 8 мин. назад')
          +short-info
        .profile__top-right
          .profile__achievments
            p.profile__achievments-message Верификация пройдена 15.11.2015 г.
            .profile__achievments-icon.profile__achievments-icon--shield
            .profile__achievments-icon.profile__achievments-icon--phone
          .profile__tasks-number Выполнил 1663 задания
        .profile__name Алексей
        .profile__employment.profile__employment--free не занят
        .profile__controls
          .profile__controls-item.profile__controls-item--left
            a.button.button--message(href="#") Написать сообщение
          .profile__controls-item.profile__controls-item--center
            .profile__avatar
              img.profile__avatar-photo(src="img/profile-photo.png" alt="Photo")
              .profile__status
            a.button.profile__offer(href="#") Предложить задание
            p.profile__price-header Цена за час работы
            .profile__price от 600 руб.
          .profile__controls-item.profile__controls-item--right
            a.button.button--favorite(href="#") Добавить в избранное
            .profile__favorite-message Добавлен в избранное 54 раза
      .profile__content
        .profile__content-left
          .profile__about
            h2.profile__content-header Обо мне
            .profile__about-content
              p.profile__about-item.text-common Колледж декоративно прикладного искусства с 2007 года. <br>Институт современного искусства с 2011 года <br>Университет Синергия 2015 года <br>Работа во фрилансе с 2005 года. <br>Быстрая качественная работа, в сроки. 
              p.profile__about-item.text-common Качества: художественный вкус, фантазия, талант,трудолюбие и усидчивость. Обладаю творческим подходом к решению поставленных задач, образным, креативным мышлением, умением представить проектируемый продукт в завершенном виде. А так же и такие свойства  как коммуникабельность, умение услышать и понять заказчика. 
              p.profile__about-item.text-common Знание программ: Photoshop, After Effect, Illustrator, InDesign, Type Manager , Dreamweaver, Premier Pro, CorelDRAW, Flash,  Notepad++...
              p.profile__about-item.text-common Навыки: Рисунок от руки, на планшете. Живопись: масляная, декоративная, гуашь,акварель, пастель. Фотография: ретушь, отрисовка, цветокоррекция, восстановление фотографий.
              p.profile__about-item.text-common Конструкторы сайтов: wix, bitrix,  и другие. <br>Языки программирования: HTML, Java, Сss...
          .profile__skills
            h2.profile__content-header Виды выполняемых работ
            ul.profile__skills-list
              li.profile__skill
                .profile__skill-icon.profile__skill-icon--design
                .profile__skill-content 
                  .profile__skill-header Дизайн
                  .profile__skill-text Логотипы, фирменный стиль, Листовки, буклеты, визитки,  Иллюстрации, иконки, арт,  Дизайн сайтов, Баннеры, оформление соц. сетей,  3d-графика, анимация,  Инфографика, презентации, Наружная реклама, вывески,  Дизайн интерьеров и архитектура,  Что-то другое
              li.profile__skill
                .profile__skill-icon.profile__skill-icon--photo
                .profile__skill-content 
                  .profile__skill-header Фото- и видео-услуги
                  .profile__skill-text Ретушь фотографий,  Создание видеороликов под ключ,  Монтаж и цветокоррекция видео
              li.profile__skill
                .profile__skill-icon.profile__skill-icon--assistant
                .profile__skill-content 
                  .profile__skill-header Ретушь фотографий,  Создание видеороликов под ключ,  Монтаж и цветокоррекция видео
                  .profile__skill-text Поиск и обработка информации,  Реклама и продвижение в интернете,  Обзвон по базе
              li.profile__skill
                .profile__skill-icon.profile__skill-icon--web
                .profile__skill-content 
                  .profile__skill-header Web-разработка
                  .profile__skill-text Программирование,  Верстка
          .profile__portfolio
            h2.profile__content-header Примеры работ
            .profile__portfolio-list
              +portfolio-item
              +portfolio-item
              +portfolio-item
              +portfolio-item
        .profile__content-right
          +rating
          +contacts
          +favorite
    +feedback
    +footer
    include ../templates/scripts.pug