.checkbox-item {
  display: flex;
  
  &:nth-child(n+2) {
    margin-top: 30px;
  }
  
  &__label {
    color: #222;
    font-family: @font-primary;
    font-size: 16px;
    line-height: 22px;
    margin-left: 13px;
    cursor: pointer;
  }
  
  &__label-link {
    color: #222;
    font-family: @font-primary;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    .transition;
    
    &:hover {
      text-decoration: none;
    }
  }
  
  &__info {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../img/icon-info.svg) no-repeat;
    background-size: cover;
    margin-left: 5px;
    position: relative;
    top: 4px;
  }
  
  &--active {
    
    .checkbox-item__label {
      color: @link-color;
    }
    
    .checkbox__hidden:checked + .checkbox__fake {
      border: 1px solid #177fde;
      box-shadow: 0 2px 0 #177fde;
      background: #fff url(../img/check-blue.svg) no-repeat center;
      background-size: 9px 6px;
    }
  }
}
