mixin menu(additionalClass)
  ul.menu(class=additionalClass)
    li.menu__item
      a.menu__item-link(href="#") Задания для вас
    li.menu__item
      a.menu__item-link(href="#") Исполнители
    li.menu__item
      a.menu__item-link(href="#") Блог
    li.menu__item
      a.menu__item-link(href="#") Частые вопросы