mixin form-progress(additionalClass)
  .form-progress(class=additionalClass)
    .form-progress__distance
      .form-progress__item
      .form-progress__item
      .form-progress__item
      .form-progress__item.form-progress__item--active
    .form-progress__title прохождение теста