.header {
  background: @color-primary;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  position: fixed;
  
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }
  
  &__center {
    display: flex;
    align-items: center;
  }
  
  &__menu {
    margin-left: 18px;
  }
}
