.form {
  display: flex;
  
  &__content {
    
  }
  
  &__main {
    
  }
  
  &__item {
    
  }
  
  &__item-header {
    
    &--error {
      
    }
  }
  
  &__item-content {
    
  }
  
  &__dscr {
    
  }
  
  &__private-message {
    
  }
  
  &__attachments {
    
  }
  
  &__attachment {
    
  }
  
  &__attachment-content {
    
    &--picture {
      
    }
    
    &--document {
      
    }
  }
  
  &__attachment-title {
    
  }
  
  &__attachment-remove {
    
  }
  
  &__attachment-button {
    
  }
  
  &__details {
    
  }
  
  &__size {
    
  }
  
  &__error-cause {
    
    &--left {
      
    }
  }
  
  &__weight {
    
  }
  
  &__weight-item {
    
  }
  
  &__address {
    
  }
  
  &__address-content {
    
  }
  
  &__address-container {
    
  }
  
  &__address-remove {
    
  }
  
  &__address-more {
    
  }
  
  &__budget {
    
  }
  
  &__budget {
    
  }
  
  &__budget-header {
    
  }
  
  &__slider {
    
  }
  
  &__budget-new {
    
  }
  
  &__budget-new-header {
    
  }
  
  &__budget-new-input {
    
  }
  
  &__settings {
    
  }
  
  &__error-message {
    
  }
  
  &__button {
    
  }
  
  &__sidebar {
    width: 37.54%;
    padding: 44px 55px 50px 63px;
    background: #f1f1f1;
    border-radius: 0 10px 10px 0;
  }
  
  &__sidebar-header {
    color: #022222;
    font-family: @font-primary;
    font-size: 35px;
    font-weight: 700;
    position: relative;
    left: -3px;
    height: 80px;
    padding-top: 15px;
    background: url(../img/message-cloud-grey.svg) no-repeat 32px;
    background-size: 85px 80px;
  }
  
  &__sidebar-list {
    margin-top: 35px;
  }
  
  &__sidebar-link {
    color: #022222;
    font-family: @font-primary;
    font-size: 16px;
    .transition;
    line-height: 23px;
    display: block;
    
    &:hover {
      color: @link-color;
    }
    
    &:nth-child(n+2) {
      margin-top: 22px;
    }
  }
}