mixin live(additionalClass)
  .live.section(class=additionalClass, data-anchor="live")
    .live__map#map
    .live__content
      .header-common
        h2.header-common__title Прямая трансляция работы сервиса
      +scroll-arrow('Больше возможностей', 'categories')